/*
	< 583px 
	583px - 900px 
	> 900px
*/
html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%
	min-width: 100%;
	margin: 0;
	padding: 0;
}

p {
	text-align: center;
	font-size: 2em;
	font-family: "Verdana";
}

.container {
	background-color: green;
}

.navbar {
	border-bottom: 5px solid black;
	background-color: olive;
	min-height: 2em;
}

.bordered {
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.diamond1, .diamond2 {
	height: 7em;
	width: 7em;
	background-color: red;
	transform: rotate(45deg);
	position: relative;
}

.diamond1 {
	left: 10em;
	top: 2em;
}

.diamond2 {
	left: 2em;
	top: 3em;
}

.rect1, .rect2 {
	height: 0.6em;
	width: 7em;
	background-color: blue;
	position: relative;
}

.rect1 {
	left: 1em;
	top: 1em;
}

.rect2 {
	left: 1em;
	top: 3em;
}

.rect3 {
	width: 10em;
	height: 26em;
}

.oval {
  height: 5em;
  width: 5.5em;
  background-color: teal;
  border-radius: 50%;
  position: relative;
  left: 10em;
  top: -1.7em;
}

@media screen and (max-width: 583px) {

	.item-b {
		position: absolute;
		top: 24em;
		left: 0em;
	}

	.item-c {
		left: 4.2em;
		top: 30.5em;
		position: absolute;
	}

	 .rect3 {
		background-color: blue;
	}
}

@media screen and (min-width: 584px) and (max-width: 900px) {
	
	p {
		margin-top: 0.5em;
	}

	.item-b {
		position: absolute;
		top: 24em;
		left: 0em;
	}

	.item-c {
		right: 1em;
		top: 5em;
		position: absolute;
	}

	.rect3 {
		background-color: firebrick;
	}
	
}

@media screen and (min-width: 901px) {

	p {
		margin-top: 0.5em;
	}

	.item-b {
		position: absolute;
		top: 8em;
		right: 27em;
	}

	.item-c {
		right: 1em;
		top: 5em;
		position: absolute;
	}
	
	.rect3 {
		background-color: white;
	}
}

